.grid {
  display: grid;
  grid-template-columns: minmax(20px, 150px) minmax(20px, 150px) 1fr 1fr 1fr;
  grid-template-rows: minmax(20px, 175px) minmax(20px, auto);
  grid-template-areas: "header header header header header""aside aside main main main";
}

.grid--header {
  display: grid;
  grid-template-columns: minmax(20px, 300px) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo list-info";
  grid-area: header;
}
