// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}
// Remove default padding
ul[class],
ol[class] {
  padding: 0;
}
// Remove default margin
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
// Set core body defaults
body {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: $font-body;
  font-weight: 400;
  font-size: rem(17px);
}
// Remove list styles on ul, ol elements with a class attribute
ul[class],
ol[class] {
  list-style: none;
}
// A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
}
// responsive images
img {
  max-width: 100%;
  display: block;
}
// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}
label {
  display: block;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  display: inline-block;
  line-height: 1;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}